@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/charts/styles.css";
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
}
